.quoteDetailContainer{
    background-color: white;
    border-radius: 15px;
    border-color: #E8E8E8;
    border-width: 1px;
    border-style: solid;
    width: 500px;
    padding: 5px;
    margin: auto auto auto 20px;
}

.dropdown{
    width: 95%;
    margin: auto;
}

.detailHeader{
    padding: 20px 20px;
    border-bottom: #E8E8E8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
}

.detailHeaderTitle{
    padding-left: 20px;
    margin-block: auto;
    font-size: xx-large;
    color: #5F6CAF;
    font-weight: 400;
}

.detailHeaderIcon{
    color: #5BBFBA;
}

.detailIcon{
    color: #7C7C7C;
}

.detailIconContainer{
    padding-right: 20px;
}

.detailRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.doubleDetailRow{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.singleDetailRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

.noSelectedQuoteContainer{
    width: 100%;
    height: 300px;
    padding-top: 40px;
    text-align: center;
    color: #7C7C7C;
    font-style: italic;
}

.selectedQuoteContainer{
    width: 100%;
    min-height: 300px;
    color: #7C7C7C;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.idDetail{
    padding: 20px;
    font-size: large;
    font-weight: 500;
}

@media only screen and (max-width: 1100px) {
    .quoteDetailContainer{
        width: 45vw;
    }

    .dropdown{
        width: 95%;
    }

    .detailHeaderTitle{
        font-size: x-large;
    }
}